<simple-animate-svg-component
    svg-file-path="{{metadata.webViewUrl}}/{{metadata.filePath}}"
    animation-speed="{{metadata.speed}}" 
    sizing="fill"
    auto-play="true"

    {{#if metadata.invert}}
         background-color="#000000"
        invert-colors="true"
    {{else}}
       background-color="#FFFFFF"
        invert-colors="false"
    {{/if}}   
    
    {{#if metadata.startAt}}
        start-at="{{metadata.startAt}}"
    {{/if}}
    {{#if metadata.stopAt}}
        stop-at="{{metadata.stopAt}}"
    {{/if}}

    >
</simple-animate-svg-component>